<style type="text/css">
	section.sub-top{
		background-image: url('assets/event-banner.jpg');
		background-position: 50%;
	}
	/*button.btn{
		padding: 19px !important;
		width: 100%;
		border-radius: 0 !important;
		background-color: #6EAE00;
		color: #fff !important;
	}*/

	.item-con{
		position: relative;
		height: 355px;
	}

	.img-con{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		height: 100%;
	}
	.txt-con{
		background-color: #E9E9E9;
		height: 100%;
		position: absolute;
	}

	.r0{
		right: 0;
	}
	.l0{
		left: 0;
	}
</style>

<section class="sub-top banner">
	<div class="col-sm-4 col-sm-offset-4 title text-center">
		<h1>Lorem ipsum</h1>
		<p>Lorem ipsum dolor sit amet, incididunt ut labore et dolore magna aliqua.</p>
	</div>
</section>

<div class="container main">
	<div class="col-md-6 col-md-offset-3">
		<div class="row text-center">
			<strong><h3>PROGRAM AND EVENTS</h3></strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	
	<div class="col-md-12 mb-25 mt-25">
		<div class="row item-con">
			<div class="col-md-6 img-con l0" style="background-image: url('assets/events.jpeg')">
			</div>
			<div class="col-md-6 txt-con r0">
				<strong><h3>LOREM IPSUM</h3></strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row item-con">
			<div class="col-md-6 txt-con l0">
				<strong><h3>LOREM IPSUM</h3></strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-md-6 img-con r0" style="background-image: url('assets/events.jpeg')">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row item-con">
			<div class="col-md-6 img-con l0" style="background-image: url('assets/events.jpeg')">
			</div>
			<div class="col-md-6 txt-con r0">
				<strong><h3>LOREM IPSUM</h3></strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>