<style type="text/css">
	section.sub-top{
		background-image: url('assets/event-banner.jpg');
		background-position: 50%;
	}
	.btn{
		padding: 19px !important;
		width: 100%;
		border-radius: 0 !important;
		background-color: #6EAE00;
		color: #fff !important;
	}

	.img-con{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 355px;
	}
</style>

<section class="sub-top banner">
	<div class="col-sm-4 col-sm-offset-4 title text-center">
		<h1>Lorem ipsum</h1>
		<p>Lorem ipsum dolor sit amet, incididunt ut labore et dolore magna aliqua.</p>
	</div>
</section>

<div class="container main">
	<div class="col-md-6 col-md-offset-3">
		<div class="row text-center">
			<strong><h3>TEAM BUILDING</h3></strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	
	<div class="col-md-12 mb-25 mt-25">
		<div class="row">
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="col-md-4 mb-50">
				<div class="col-md-12 img-con" style="background-image: url('assets/events.jpeg')"></div>
				<div class="col-md-12 text-center">
					<strong><h3>LOREM IPSUM</h3></strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<a href="/contact-us" class="btn btn-lg">CONTACT US NOW</a>
	</div>
</div>