header {
	height: 50px
}

header > .navbar.admin{
	border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

header > .navbar.admin,
header > .navbar.admin .dropdown-menu{
	background-color: #3d2b29;
}

header > .navbar.admin .dropdown-menu{
	margin-top: -1px;
	border: 0;
	padding: 0;
	border-radius: 0;
}

header > .navbar.admin .dropdown-menu a{
	padding: 12px 15px;
}

header > .navbar.admin img.logo{
	width: 50px;
	margin-right: 15px;
}

header > .navbar.admin #myNavbar a{
	color: #fff;
}

header > .navbar.admin #myNavbar a:hover,
header > .navbar.admin #myNavbar a:focus{
	background-color: #2e201f;
}

.page-header{
	padding-bottom: 0;
	border-bottom: 2px solid #ddd;
}
.page-header > h1{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #3d2b29;
}

input.form-control{
	border: 1px solid #ccc;
}

.btn-primary{
	border-radius: 0;
	background-color: #3d2b29;
	border-color: #3d2b29;
}
.btn-primary:hover,
.btn-primary:focus{
	background-color: #2e201f;
	border-color: #2e201f;
}

.btn-default{
	border-radius: 0;
	background-color: #e7e7e7;
	border-color: #dadada;
	color: #333;
}
.btn-default:hover,
.btn-default:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	background-color: #d3d3d3;
	border-color: #bbb;
}

.nav-tabs > li > a{
	border-radius: 0;
	color: #333;
	background-color: #e7e7e7;
	border-color: #dadada;
}

.digg_pagination {
  background: white;
  cursor: default;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
  margin: 2px;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #008cba;
  color: white;
  border: 1px solid #008cba;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.digg_pagination a {
  text-decoration: none;
  color: #008cba;
  border: 1px solid #008cba;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  margin-top: 2px;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #008cba;
  border-color: #008cba;
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.pd-cell-control{
  width: 1px;
  white-space: nowrap;
  background-color: #ddd !important;
}