<ol>
	<li><p>Reservations are on a first come, first served basis and noncancellable. Please take note that check-in is at 2:00 pm and check-out is at 12:00 nn.</p></li>
	
	<li>
		<p>A non-refundable 50% down payment is required to confirm your reservation. You may deposit the down payment or the full amount to:</p>
		<p>&emsp;&emsp;Bank: Metrobank<br/>
		&emsp;&emsp;Account Name: The Original Green Olive Club Inc.<br/>
		&emsp;&emsp;Account No.: 0137013543026</p>
		<p>Kindly send a copy of the deposit slip to <a href="mailto:air.zengarden@gmail.com">air.zengarden@gmail.com</a>.</p>
	</li>

	<li><p>This agreement is considered valid. Please send a signed copy of this agreement together with a copy of the deposit slip to <a href="mailto:air.zengarden@gmail.com">air.zengarden@gmail.com</a> to complete your reservation. For event bookings, the event shall not commence without the reservations team of Zen Garden receiving a signed copy of this agreement.</p></li>
	
	<li><p>The full amount indicated in this agreement is due before or upon check-in and should be paid in cash. Delayed payment is subject to a late payment fee of 5% of the remaining balance charged per day succeeding the originally reserved date/s.</p></li>
	
	<li><p>Final revisions to the contract (i.e. event date, headcount, and package inclusions) should be advised at least 2 weeks prior to the event date. Otherwise, these details can no longer be changed.</p></li>
	
	<li><p>Your reservation may be rescheduled to any date within 2 months from the originally reserved date/s. Otherwise, the reservation will be considered cancelled, and down payment will be forfeited.</p></li>
	
	<li><p>Zen Garden shall impose a rescheduling fee of 10% of the total contract price if the modification is advised less than 2 weeks prior to the reserved date/s. Absolutely no changes in the reserved date/s should be made 3 days prior.</p></li>
	
	<li><p>Zen Garden shall not be liable for any loss, claims, or damages if the event does not push through on the scheduled date due to any fortuitous events such as rain, flood, typhoon, earthquake, volcanic eruption, or coup d’ etat (force majeure).</p></li>
	
	<li><p>Zen Garden shall not be liable for any loss, claims, damages, injuries, or death that may occur during the event. Guests are responsible for their own belongings, health, and well-being.</p></li>
	
	<li><p>All guests must comply with Zen Garden’s house rules.</p></li>
</ol>