/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require basic
 */

 @import "font-awesome";

/* COLORSCHEME1 */
body.colorscheme-1 main{
	background-color: #f0f0f0;
}

body.colorscheme-1 button.btn-book,
body.colorscheme-1 a.btn-book,
body.colorscheme-1 button.btn-view,
body.colorscheme-1 .search-container button{
	background-color: #7c9e01;
}

body.colorscheme-1 button.btn-book:hover,
body.colorscheme-1 button.btn-book:focus,
body.colorscheme-1 a.btn-book:hover,
body.colorscheme-1 a.btn-book:focus,
body.colorscheme-1 button.btn-view:hover,
body.colorscheme-1 button.btn-view:focus,
body.colorscheme-1 .search-container button:hover,
body.colorscheme-1 .search-container button:focus{
	background-color: #90b701;
	color: #fff;
}


body.colorscheme-1 .txt-con{
	background-color: #eaeaea;
}

body.colorscheme-1 footer .contacts,
body.colorscheme-1 .main.container .text-content,
body.colorscheme-1 div.outside,
body.colorscheme-1 .inquiry-form,
body.colorscheme-1 .tb-form .inputs,
body.colorscheme-1 .tb-con-desc,
body.colorscheme-1 .navbar-inverse .navbar-toggle:hover,
body.colorscheme-1 .navbar-inverse .navbar-toggle:focus{
	background-color: #3d2b29;
}

body.colorscheme-1 .con{
	background-color: #dbdbdb;
}

body.colorscheme-1 header .navbar.default-bg{
	background-color: #2A2625;
}

body.colorscheme-1 footer .copyright{
	background-color: #252120
}

@media only screen and (max-width: 767px) {
	body.colorscheme-1 .navbar-collapse{
		background-color: #3d2b29;
	}
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
	body.colorscheme-1 .navbar-collapse{
		background-color: #3d2b29;
	}
}

/* COLORSCHEME2 */
body.colorscheme-2 main{
	background-color: #fcf5e3;
}

body.colorscheme-2 button.btn-book,
body.colorscheme-2 a.btn-book,
body.colorscheme-2 button.btn-view,
body.colorscheme-2 .search-container button{
	background-color: #5aa6b3;
}

body.colorscheme-2 button.btn-book:hover,
body.colorscheme-2 button.btn-book:focus,
body.colorscheme-2 a.btn-book:hover,
body.colorscheme-2 a.btn-book:focus,
body.colorscheme-2 button.btn-view:hover,
body.colorscheme-2 button.btn-view:focus,
body.colorscheme-2 .search-container button:hover,
body.colorscheme-2 .search-container button:focus{
	background-color: #6bafbb;
	color: #fff;
}

body.colorscheme-2 .txt-con{
	background-color: #ffffff;
}

body.colorscheme-2 footer .contacts,
body.colorscheme-2 div.outside,
body.colorscheme-2 .inquiry-form,
body.colorscheme-2 .tb-form .inputs,
body.colorscheme-2 .tb-con-desc,
body.colorscheme-2 .navbar-inverse .navbar-toggle:hover,
body.colorscheme-2 .navbar-inverse .navbar-toggle:focus{
	background-color: #204813;
}

body.colorscheme-2 .main.container .text-content{
	background-color: #5a830d;
}

body.colorscheme-2 .con{
	background-color: #fcf5e3;
}

body.colorscheme-2 header .navbar.default-bg{
	background-color: #111e0c;
}

body.colorscheme-2 footer .copyright{
	background-color: #111e0c
}

@media only screen and (max-width: 767px) {
	body.colorscheme-2 .navbar-collapse{
		background-color: #204813;
	}
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
	body.colorscheme-2 .navbar-collapse{
		background-color: #204813;
	}
}


/* COLORSCHEME3 */
body.colorscheme-3 main{
	background-color: #f6efd2;
}

body.colorscheme-3 button.btn-book,
body.colorscheme-3 a.btn-book,
body.colorscheme-3 button.btn-view,
body.colorscheme-3 .search-container button{
	background-color: #9d2f0c;
}

body.colorscheme-3 button.btn-book:hover,
body.colorscheme-3 button.btn-book:focus,
body.colorscheme-3 a.btn-book:hover,
body.colorscheme-3 a.btn-book:focus,
body.colorscheme-3 button.btn-view:hover,
body.colorscheme-3 button.btn-view:focus,
body.colorscheme-3 .search-container button:hover,
body.colorscheme-3 .search-container button:focus{
	background-color: #b5360e;
	color: #fff;
}

body.colorscheme-3 .txt-con{
	background-color: #d7c5b1;
}

body.colorscheme-3 footer .contacts,
body.colorscheme-3 .main.container .text-content,
body.colorscheme-3 div.outside,
body.colorscheme-3 .inquiry-form,
body.colorscheme-3 .tb-form .inputs,
body.colorscheme-3 .tb-con-desc,
body.colorscheme-3 .navbar-inverse .navbar-toggle:hover,
body.colorscheme-3 .navbar-inverse .navbar-toggle:focus{
	background-color: #411c14;
}

body.colorscheme-3 .con{
	background-color: #f6efd2;
}

body.colorscheme-3 header .navbar.default-bg{
	background-color: #4d2a24;
}

body.colorscheme-3 footer .copyright{
	background-color: #210f0d
}

@media only screen and (max-width: 767px) {
	body.colorscheme-3 .navbar-collapse{
		background-color: #411c14;
	}
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
	body.colorscheme-3 .navbar-collapse{
		background-color: #411c14;
	}
}


 input.form-control,
 textarea.form-control,
 select.form-control{
 	border: 0;
 	border-radius: 0;
 	font-size: 14px;
 }

 button.btn-book,
 a.btn-book,
 button.btn-back{
	padding: 19px !important;
	width: 100%;
	border-radius: 0 !important;
	color: #fff !important;
	text-transform: uppercase;
}

section.banner{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0;
}

section.banner .title{
	margin-top: 60px;
	color: #fff;
	text-shadow: 1px 1px #000;
}

section.banner .title h1{
	font-size: 45px;
	text-transform: uppercase;
}
section.banner .title p{
	font-size: 21px;
	line-height: 20px;
}

section.sub-top{
	height: 480px;
}

section.top{
	margin: 0;
	height: 700px;
	background-image: url('zenGardenImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 55%;

}

main{
	padding: 0;
	margin: 0;
	margin-top: -150px;
}

header {
	position: relative;
	z-index: 1;
}

header .navbar{
	background-color: rgba(0,0,0,0.5);
	margin: 0;
	border: 0;
	border-radius: 0;
}

.navbar-brand{
	height: auto;
	padding: 0;
	margin-left: 0 !important;
}

.navbar-brand > img {
	width: 110px;
}

.navbar-nav > li a.nav-link{
	text-transform: uppercase;
	color: #fff;
	line-height: 110px;
	padding: 0 15px;
}

.main.container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.tb-con-desc{
	color: #fff;
}

footer{
	color: #fff
}

footer .social a{
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	margin: 0 5px;
}

footer .nav-link{
	padding: 5px 0 !important;
	color: #fff;
}

footer .nav-link:hover{
	background-color: transparent !important;
	text-decoration: underline !important;
}

footer .contacts{
	padding: 35px 0;
}

footer .copyright{
	padding: 15px 0;
	font-size: 13px;
	color: #fff;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	main{
		margin-top: -50px;
	}
	.navbar-toggle {
		border: 0;
	}
	.navbar-nav.pull-right{
		float: none !important;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-nav > li a.nav-link{
		line-height: inherit;
		padding: 10px;
		text-align: center;
	}
	.navbar-inverse .navbar-brand{
		margin-left: 15px !important;
	}
	.navbar-brand > img {
		width: 50px;
	}
	.navbar-collapse{
		position: absolute;
		width: 100%;
	}

	section.sub-top{
		height: auto;
		padding-bottom: 25px;
	}
	section.banner .title h1{
		font-size: 24px;
	}
	section.banner .title p{
		font-size: inherit;
		line-height: 14px;
	}
	.main.container{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.gal-img{
		height: 255px !important;
	}

	footer{
		text-align: center;
	}

	footer img{
		width: 150px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 972px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    main{
    	margin-top: -50px;
    }
    section.sub-top{
    	height: auto;
    }
    section.sub-top > div{
    	padding: 15px;
    }
    .navbar-brand > img{
    	width: 50px;
    }
    .navbar-collapse{
    	position: absolute;
    	left: 0;
    	width: 100%;
    }
    .navbar-nav.pull-right{
    	margin-top: 0;
    	margin-bottom: 0;
    }
    .navbar-nav > li a.nav-link{
    	line-height: inherit;
    	padding: 10px;
    	text-align: center;
    }
    .navbar-toggle {
		border: 0;
	}
}