<%# add navigation links to this file %>
<li class="nav-item"><a class="nav-link" href="/">home</a></li>
<li class="nav-item"><a class="nav-link" href="/gallery">gallery</a></li>
<li class="nav-item"><a class="nav-link" href="/room-packages">room</a></li>
<li class="nav-item"><a class="nav-link" href="/amenities">amenities</a></li>
<li class="nav-item"><a class="nav-link" href="/team-building">team building</a></li>
<li class="nav-item"><a class="nav-link" href="/program-and-events">events</a></li>
<li class="nav-item"><a class="nav-link" href="/inquiry">inquiry</a></li>
<li class="nav-item"><a class="nav-link" href="/contact-us">contact us</a></li>